body {
    background: #f7f7f7; /*cor do fundo*/
    font-family: Verdana; /*fonte da página*/
    max-width: 1000px;
    margin: auto;
}

.photo {
    border: 1px solid #505050; /*Borda em volta da foto*/
    border-radius: 50%; /*Borda redonda*/
}


#title, .subtitle, .post_title {
    color: #505050; 
}

#title{
    font-size: 40px;
    text-transform: uppercase; /*todas as letras maiuscula*/
}

a {
    text-decoration: underline; 
    color: #505050;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0; 
    margin-bottom: 15px; /*Margem do fundo*/
}

.post {
    background: #fff;
    padding: 15px; 
    border: 3px solid #505050;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}
.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize; /*primeiras letras maiúscula*/
    text-align: center;
}
.post_img {
    margin-bottom: 15px;
    width: 100%;
    height: 400px;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}